# Это заголовок первого уровня

## А это заголовок второго уровня

Список:

- Первый элемент списка

- Второй элемент списка

In [ ]:
25/((67+33)*(25-20))

In [ ]:
(4+5*60-17+(65/4))**(1/2)

In [ ]:
67+33

In [ ]:
25/((67+33)*(25-20))

In [ ]:
((67+33)*(25-20))/25

In [ ]:
(4+5*60-17+(65/4))**(1/2)

In [ ]:
6.996+45*((13/2)**2)+2*18**(1/2)

In [ ]:
3**3**2**2

In [ ]:
agent_name = 7.0

In [ ]:
type(agent_name)

In [ ]:
agent_name = int()

In [ ]:
agent_name = str()

In [ ]:
"hey"+"!"

In [ ]:
'42'+2

In [ ]:
'42'*2

In [ ]:
input ('Напишите что-нибудь хорошее: ')

In [ ]:
phrase = input ('Напишите что-нибудь хорошее: ')

In [ ]:
name = input('Ведите своё имя: ')

In [ ]:
print(name)

In [ ]:
name = input('Ведите своё имя')
print('Сегодня Вас зовут ... ' + name)

In [ ]:
name = input('Ведите своё имя')
print('Сегодня Вас зовут ' + name)

In [ ]:
name = input('Ведите своё имя')
print('Сегодня Вас зовут ' + name)

In [ ]:
name = input()
print('Сегодня Вас зовут ' + name)

In [ ]:
name = input('Введите своё имя: \n')
print('Сегодня Вас зовут ' + name)

In [ ]:
a = 117
b = 23
print(a%b)

In [ ]:
a/b

In [ ]:
23*5

In [ ]:
a = 12
b = 17
c = 25
print((a*b*c)**(3/2))

In [ ]:
a = 2
b = 4
c = 8
print((a*b*c)**(3/2))

In [ ]:
a = 2
b = 4
c = 8
print((a*b*c)**(3/2))

In [ ]:
​a = 2
b = 4
c = 8
print(a*b*c)

In [ ]:
a = 2
b = 4
c = 8
print((a*b*c)**(3/2))

In [ ]:
a = 2
b = 4
c = 8
print(a*b*c)

In [ ]:
64**(3/2)

In [ ]:
x = 100500
y=6.996+45*(x/2)**2+2*x
print(y)

In [ ]:
a =270
b = 12.8
print((a+b)/2)**(1/3))

In [ ]:
a =270
b = 12.8
print((a+b)/2)**(1/3)

In [ ]:
a =270
b = 12.8
print(((a+b)/2)**(1/3))

In [ ]:
a = 23
print('Вы ввели число, которое при умножени на 3 дает' + 3*a)

In [ ]:
a = 23
print('Вы ввели число, которое при умножени на 3 дает' + '3*a')

In [ ]:
a = 23
print('Вы ввели число, которое при умножени на 3 дает ' + str(3*a))

In [ ]:
string = 'Привет!'
power = 5
print(string, len(string), len(string)**power)

In [ ]:
a = int(input())
b = int(input())

    if a = b
print('Введены одинаковые числа')
    else
print('Введены разные числа')

In [ ]:
a = int(input())
b = int(input())

if a == b:
    print('Введены одинаковые числа')
else:
    print('Введены разные числа')

In [ ]:
word = 'ОченьДлинноеСлово'
if len(word)>7 
    print('Это слово длинное')
else:
    print('Это слово короткое')

In [ ]:
word = 'ОченьДлинноеСлово'
if len(word)>7:
    print('Это слово длинное')
else:
    print('Это слово короткое')

In [ ]:
word = 'ОченьДлинноеСлово'
if len(word)>7:
    print('Это слово длинное')
else:
    print('Это слово короткое')

In [ ]:
word = 'ОченьДлинноеСлово'
if  ('ф' in word) == true:
    print('Ого! Вы ввели редкое слово!')
else:
    print('Эх, это не очень редкое слово...')

In [ ]:
word = 'ОченьДлинноеСлово'
if  ('ф' in word) == True:
    print('Ого! Вы ввели редкое слово!')
else:
    print('Эх, это не очень редкое слово...')

In [ ]:
word = 'ОченьДлинноеСлово'
letter = 'и'
if  (letter in word) == true:
    print('Ого! Вы ввели редкое слово!')
else:
    print('Эх, это не очень редкое слово...')

In [ ]:
word = 'ОченьДлинноеСлово'
letter = 'и'
if  (letter in word) == True:
    print('Ого! Вы ввели редкое слово!')
else:
    print('Эх, это не очень редкое слово...')

In [ ]:
(3).is_integer()

In [ ]:
(3).is_int

In [ ]:
int(10)==float(10)

In [ ]:
int(10)==float(10.1)

In [ ]:
number = 169
if int(number) != float(number):
    print('Квадратный корень из ' + number +'. - не целое число')

In [ ]:
number = 170
if int(number**(1/2)) == float(number**(1/2)) :
    print(int(number)**(1/2))
else:
    print('Квадратный корень из ' + str(number) +'. - не целое число')

In [ ]:
number = 169
if int(number**(1/2)) == float(number**(1/2)):
    print(int((number)**(1/2)))
else:
    print('Квадратный корень из ' + number +' - не целое число')

In [ ]:
number = int(input())
if number == 1:
    print('Понедельник')
elif number == 2:
    print('Вторник')
elif number == 3:
    print ('Среда')
elif number == 4:
    print('Четверг')
elif number == 5:
    print('Пятница')
elif number == 6:
    print('Суббота')
elif number == 7:
    print ('Воскресенье')
else:
    print ('Нет такого дня недели')

In [ ]:
weight = float(input())
height = float(input())
if (weight/height**2)< 18.5: 
    print('Недостаточная масса тела')
elif (weight/height**2)<24.99:
    print ('Норма')
else:
    print ('Избыточная масса тела')

In [ ]:
5 < 3 or 6 > 7 or 4 > 9

In [ ]:
x = 5
y = 10
y > x * x or y >= 2 * x and x < y

In [ ]:
a = True
b = False
a and b or not a and not b

In [ ]:
"239" < "30" and 239 > 30

In [ ]:
"5a"<"5b" and 123/2 > 30 or True

In [ ]:
False and True or 12<5**2 and "Python" > "Ruby"

In [ ]:
x = 10
y = 15
y > x**y - 1000 or "test" > "push"

In [ ]:
fav_word = 'Аппликация'
if fav_word == 'рептилия' or fav_word == 'питон' or fav_word == 'змея':
    print ('Python')
elif fav_word == 'плюс' or fav_word == 'плюсы':
    print('C++')
elif fav_word == 'рубин' or fav_word == 'кристалл':
    print('Ruby')
else:
    print("Python")

In [ ]:
hour = 10
minute = 29
if ((hour >= 10 and minute >= 30) or (hour <= 12 and minute == 0)):
    print('Преподаватель занят.')
elif (hour >= 13 and minute >=40) or (hour <= 15 and minute == 0):
    print('Преподаватель занят.')
elif (hour >= 18 and minute > 0) or (hour <= 19 and minute <= 30):
    print('Преподаватель занят.')
else: 
    print("Преподаватель свободен.")

In [ ]:
word = 'подшипник'
for i, letter in enumerate(word):
    if i % 2 == 0:
        print(letter)

In [ ]:
year_1 = 2013
year_2 = 2020
for i in range(year_1, year_2 + 1):
    if i % 4 == 0:
        print (i, "год високосный")
    else:
        print (i, "год невисокосный")

In [ ]:
word = 'Зимушка-зима'
for i, letter in enumerate(word):
    if letter in ('а','о','э','и','у','ы','е','ё','ю','я'):
        new_word = word.replace(letter, '')
        word = new_word
        print (word)

In [ ]:
word = 'Зимушка-зима'
for i, letter in enumerate(word):
    if letter in ('а','о','э','и','у','ы','е','ё','ю','я'):
        print(letter)

In [ ]:
name = 'Сергей'
for i, letter in enumerate(name):
    print('Буква', i+1,'в этом имени -',letter)

In [ ]:
num_1 = 25
num_2 = 45
for i in range(num_1, num_2+1):
    if i % 2 != 0 and (i % 3 == 0 or i % 5 == 0):
        print(i)

In [ ]:
for i in range (1,11):
    kvad = i**2
    kub = i**3
    print(i,kvad,kub)

In [ ]:
number = 84
for i in range (1, number+1):
    if number % i == 0:
        print(i)

In [ ]:
num_1 = 12
num_2 = 38
for i in range (2, num_2):
    if num_1 % i == 0 and num_2 % i ==0:
        print(i)

In [ ]:
12%13

In [ ]:
38%12

In [ ]:
prew = cur = 1
n= 10
for i in range(int(n-2)):
    tmp = prew + cur
    prew = cur
    cur = tmp
print(cur)

In [ ]:
number = 15
for i in range(1,11):
    res = number*i
    print(number,'X',i,'=',res)

In [ ]:
num_1 = 1812
num_2 = 2500
for i in range (1, num_2):
    if num_1 % i == 0 and num_2 % i == 0:
        NOD = i
    elif i == num_1:
        break
print(NOD)

In [ ]:
string = 'абстракция'
for i, letter in enumerate(string):
    if letter in ('а','б','в'):
        continue
    print (letter, end='')

In [ ]:
for i in range(1,6):
    string = 'Нет'
    if string == 'Да':
        print ('Это отлично!')
        break
    elif string == 'Нет':
            print('Увы, это неправильный ответ')
            if i == 5:
                print('Это безнадёжно!')

In [ ]:
number = 173
flag = 0
for i in range(2, number):
    if number % i == 0:
        flag = 1
if flag == 0:
    print('Простое')
else:
    print('Не является простым')

In [ ]:
string = 'прелестная строка'
flag = 0
for i, letter in enumerate(string):
    if i % 2 == 0 and letter in ('а','о','э','и','у','ы','е','ё','ю','я'):
        flag = 1
if flag == 0:
    print('Какая хорошая строка!')
else:
    print('Строка мне не нравится!')

In [ ]:
Y=170000
Z = 1000000
year = 0
while Y<Z:
    Y = Y*1.1
    year = year + 1 
else:
    print(year)

In [ ]:
lim=400
weight=77
weight_lift = weight
i=1
while weight_lift < lim:
    i = i + 1
    weight_lift = weight*i
else:
    print ('Перевес', weight_lift-lim, 'кг')

In [ ]:
health = 500
current_health = health
attack = 80
i=0
while current_health > 0:
    current_health = current_health - attack
    i += 1
else:
    print(i)

In [ ]:
balance = 10000
spent = 2800
print(balance)
while balance > 0:
    balance -= spent
    if balance > 0:
            print(balance)
else:
    print("Слишком большие расходы")

In [ ]:
volume = 1000
robot = 5
counter = 0
while volume > 0:
    volume -= robot
    robot += 5
    counter += 1 
else:
    print(counter)

In [ ]:
body = ['голова', 'руки', 'ноги', 'глаза', 'уши', 'рот', 'нос', 'туловище']
print(body[-7:-5])

In [ ]:
sparta = ['Иванов', 'Петров', 'Сидоров', 'Зайцев', 'Дятлов', 
          'Козлов', 'Лисичкин', 'Огурцов', 'Капустин', 'Арбузов']
print(sparta[-2:1:-3])

In [ ]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
print(my_list[2])

In [ ]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
result = max(my_list) + min(my_list) + my_list.count('batman')
print(result)

In [ ]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
new_list = my_list[::2]
result = 0
for number in new_list:
    result += number
print(result)

In [ ]:
my_list = [1]
for i in range(10):
    my_list.append(my_list[i] * 2)
my_list.sort(reverse = True)
print(my_list)

In [ ]:
fruits = 'яблоко банан апельсин баклажан перец помидор арбуз ананас'.split()
my_list = []
for fruit in fruits:
    my_list.append(fruit[0])
    print(fruit)
my_list.sort()
print(my_list)

In [ ]:
mylist=[]
a=1
for i in range(1,51):
    if i % 3 == 0:
        mylist.append(i)
        a += 1
result = sum(mylist)
print(result)

In [ ]:
raw_list = ['переменные', 'циклы', 'условия', 'списки', 'словари', 'файлы', 'функции']
my_list=[]
for i in range(0, len(raw_list)):
        my_list.append(len(raw_list[i]))
result = max(my_list) + min(my_list)
print(result)

In [ ]:
raw_list = [2, 8, 10, 23, 64, 49, 11, 52, 71, 14]
x_min = min(raw_list)
x_max = max(raw_list)
my_list = []
for i in range(0,len(raw_list)):
    if i % 2!= 0:
        my_list.append(raw_list[i]*x_min)
    else:
        my_list.append(raw_list[i]*x_max)
result = max(my_list)
print(result)

In [ ]:
powers = [x**y for x in range(1, 10) for y in [2,10]]
print(powers)

In [ ]:
numbers = [x*y for x in range(1, 10) for y in [3, 5, 7]]
print(numbers)

In [ ]:
numbers = [x for x in range(3,1000) if [x%y for y in range(2,x)].count(0) == 0]
print(numbers)

In [ ]:
my_list = [x if x in 'синхрофазотрон'].sort()

In [ ]:
my_list = sorted([x for x in 'синхрофазотрон']) 
print(my_list)

In [ ]:
my_list = [x*y for x in range(11,20) for y in [0.9, 1, 1.1]] 
print(my_list)

In [ ]:
my_list = [x**0.5 for x in range(1,50)if x%7 == 0]
print(my_list)

In [ ]:
my_list = []
for x in range(1, 50):
    if x%7 == 0:
        my_list.append(x**0.5)
print(my_list)

In [ ]:
my_list = [x//10 + x%10 for x in range(90,100)]
print(my_list)

In [ ]:
my_list = []
for x in range(90, 100):
    first_digit = x//10
    last_digit = x%10
    my_list.append(first_digit + last_digit)
print(my_list)

In [ ]:
phones = ['+79033923029', '+78125849204', '+79053049385', '+79265748370', '+79030598495']
print(phones)

In [ ]:
employee_base = {
    'Александр Пахомов': '+79053049385',
    'Алина Егорова':'+79265748370',
    'Руслан Башаров':'+79030598495',
   }

In [ ]:
print(employee_base['Алина Егорова'])

In [ ]:
draw_dict = {
	'Россия': 'A',
	'Португалия': 'B',
	'Франция': 'C',
	'Дания': 'C',
	'Египет': 'A'
}
country = "Италия"
flag = 0
for team, group1 in draw_dict.items():
    if country == team:
        flag = 1
        group = group1
if flag == 0:
    print('unknown')
else:
    print(group)

In [ ]:
draw_dict = {
	'Россия': 'A',
	'Португалия': 'B',
	'Франция': 'C',
	'Дания': 'C',
	'Египет': 'A'
}
country = "Италия"
draw_dict.setdefault(country, 'unknown')
group = draw_dict[country]
print(group)

In [ ]:
draw_dict = {
	'Россия': 'A',
	'Португалия': 'B',
	'Франция': 'C',
	'Дания': 'C',
	'Египет': 'A'
}
draw_new={}
for team in draw_dict:
    if draw_dict[team] == 'A':
        draw_new[team] = draw_dict[team] 
print(draw_new)

In [ ]:
draw_dict = {
	'Россия': 'A',
	'Португалия': 'B',
	'Франция': 'C',
	'Дания': 'C',
	'Египет': 'A'
}
draw_new={}
for country, group in draw_dict.items():
    if group == 'A': 
        draw_new[country] = group
for country in draw_new:
    print(country)

In [ ]:
2504+4994+6343

In [ ]:
phones = {
	'Гордиенко Виктория': 5140,
	'Анисимов Кирилл': 5145,
	'Кузнецова Дарья': 5142
}
for name, phone in phones.items():
	if name == 'Кузнецова Дарья' and phone == 5142:
		print('Номер верен')

In [ ]:
csv_file = [
    ['100412', 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 9],
    ['100728', 'Скейтборд Jdbug RT03', 32],
    ['100732', 'Роллерсерф Razor RipStik Bright', 11],
    ['100803', 'Ботинки для сноуборда DC Tucknee', 20],
    ['100898', 'Шагомер Omron HJA-306', 2],
    ['100934', 'Пульсометр Beurer PM62', 17],
]
pulsomer_id = csv_file[5][0]
print(pulsomer_id)

In [ ]:
csv_file = [
    ['100412', 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 9],
    ['100728', 'Скейтборд Jdbug RT03', 32],
    ['100732', 'Роллерсерф Razor RipStik Bright', 11],
    ['100803', 'Ботинки для сноуборда DC Tucknee', 20],
    ['100898', 'Шагомер Omron HJA-306', 2],
    ['100934', 'Пульсометр Beurer PM62', 17],
]
csv_file_filtered = []
i=0
for record in csv_file:
    if record[2] > 10:
        csv_file_filtered.append(record)
print(csv_file_filtered)

In [ ]:
csv_dict = [
    {'id': '100412', 'position': 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 'count': 9},
    {'id': '100728', 'position': 'Скейтборд Jdbug RT03', 'count': 32},
    {'id': '100732', 'position': 'Роллерсерф Razor RipStik Bright', 'count': 11},
    {'id': '100803', 'position': 'Ботинки для сноуборда DC Tucknee', 'count': 20},
    {'id': '100898', 'position': 'Шагомер Omron HJA-306', 'count': 2},
    {'id': '100934', 'position': 'Пульсометр Beurer PM62', 'count': 17},
]
csv_dict_boots=[]
#for record in csv_file

In [ ]:
csv_dict = [
    {'id': '100412', 'position': 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 'count': 9},
    {'id': '100728', 'position': 'Скейтборд Jdbug RT03', 'count': 32},
    {'id': '100732', 'position': 'Роллерсерф Razor RipStik Bright', 'count': 11},
    {'id': '100803', 'position': 'Ботинки для сноуборда DC Tucknee', 'count': 20},
    {'id': '100898', 'position': 'Шагомер Omron HJA-306', 'count': 2},
    {'id': '100934', 'position': 'Пульсометр Beurer PM62', 'count': 17},
]
csv_dict_boots = []
print(csv_dict[0]['position'])
for i in range(0, len(csv_dict)):
    if ('Ботинки' in csv_dict[i]['position']):
        csv_dict_boots.append(csv_dict[i])
print(csv_dict_boots)

In [ ]:
results = [
	{'cost': 98, 'source': 'vk'},
	{'cost': 153, 'source': 'yandex'},
	{'cost': 93, 'source': 'facebook'},
]
costs = []
for i in (0, len(results)-1):
    costs.append(results[i]['cost'])
print(min(costs))

In [ ]:
currency = {
	'AMD': {
		'Name': 'Армянских драмов',
		'Nominal': 100,
		'Value': 13.121
	},

	'AUD': {
		'Name': 'Австралийский доллар',
		'Nominal': 1,
		'Value': 45.5309
	},

	'INR': {
		'Name': 'Индийских рупий',
		'Nominal': 100,
		'Value': 92.9658
	},

	'MDL': {
		'Name': 'Молдавских леев',
		'Nominal': 10,
		'Value': 36.9305
	},
}
print(currency['AMD']['Name'])

In [ ]:
bodycount = {
	'Проклятие Черной жемчужины': {
		'человек': 17
	}, 

	'Сундук мертвеца': {
		'человек': 56,
		'раков-отшельников': 1
	},

	'На краю света': {
		'человек': 88
	},

	'На странных берегах': {
		'человек': 56,
		'русалок': 2,
		'ядовитых жаб': 3,
		'пиратов зомби':2,
	}
}
sad = {}
i = 0
kolvo = 0
for record in bodycount.values():
    sad[i] = record
    i += 1
for i in range(0,len(sad)):
    kolvo += (sum(sad[i].values()))
print(kolvo)

In [ ]:


import json

with open('data.json', 'rb') as infile:

    data = json.load(infile)

In [ ]:
table_clients = []
for item in data_list:
    client_id = item['client_id']
    category = item['category']
    if category == 'report':
        table_clients.append(client_id)
#print (table_clients)
import collections
c = collections.Counter()
for client in table_clients:
    c[client] += 1
print (c.keys())

In [ ]:
proverb = 'Программисты - это устройства, преобразующие кофеин в код.'
new_proverb = ''
cet=proverb[::2]
necet = proverb[1::2]
i=0
for i in range(0,len(cet)):
    new_proverb += necet[i]+cet[i]
    i+=1
print(new_proverb)

In [ ]:
basic_word = 'программирование'
inverted_word = ''
dlina = -1*len(basic_word)
for i in range (0,len(basic_word)):
    inverted_word += basic_word[-1*(i+dlina)-1]
if inverted_word == basic_word:
    print('Слово "' + basic_word+'"'+ ' является палиндромом')
else:
    print('Слово "'+basic_word+'"'+ ' - это не палиндром')

In [ ]:
basic_word = 'программирование'
inverted_word = basic_word[::-1]
if inverted_word == basic_word:
    print('Слово "' + basic_word+'"'+ ' является палиндромом')
else:
    print('Слово "'+basic_word+'"'+ ' - это не палиндром')

In [ ]:
proverbs = ['Без труда не вытянешь и рыбку из пруда', 
            'Терпение и труд всё перетрут', 
            'Работа не волк - в лес не убежит', 
            'Чем труднее дело, тем выше честь', 
            'Учиться, учиться и учиться!']

counter = 0
for proverb in proverbs:
    if 'труд' in proverb:
        counter += 1
print(counter)

In [ ]:
proverb = 'Хорошо написанная программа - это программа, написанная 2 раза'

while True:
    index = proverb.find('программа')
    if index == -1:
        break
    secret = proverb[:index].split()[-1]
    proverb = proverb[index+9:]
print(secret)

In [ ]:
email = '12345@domen.ru'
pos = email.find('@')
domain = email.find('@')
print(email[email.find('@')+1:])

In [ ]:
number = 56.257
num2 = str(number)
drob = num2[num2.find('.')+1:]
print(drob)
sum = 0
for i in range(0,len(drob)):
    drob2 = int(drob[i])
    sum += drob2
print(sum)

In [ ]:
string = 'Интернет-открытки - это лучшее средство для мужчины сказать женщине о своих чувствах прямо в глаза.'
secret = string[24:30]
new_string = string.replace(secret.lower(), secret.upper()) 
print(secret)

In [ ]:
string = 'Тяжёлая интернет-зависимость - это когда ты выходишь из интернета, а он из тебя нет.'
for letter in string:
    if letter in ('.','!',',','-',':','?'):
        string = string.replace(letter, ':)')
print(string)

In [ ]:
name = 'Севастиан'
glas = 'а о э е и ы у ё ю я'.split()
for letter in name:
    if letter in glas:
        print(letter, '- гласная буква')
    else:
        print(letter, '- согласная буква')

In [ ]:
import re
text = 'Разработка языка Python была начата в конце 1980-х годов сотрудником голландского института CWI Гвидо ван Россумом. Для распределённой ОС Amoeba требовался расширяемый скриптовый язык, и Гвидо начал писать Python на досуге, позаимствовав некоторые наработки для языка ABC (Гвидо участвовал в разработке этого языка, ориентированного на обучение программированию). В феврале 1991 года Гвидо опубликовал исходный текст в группе новостей alt.sources. Название языка произошло вовсе не от вида пресмыкающихся. Автор назвал язык в честь популярного британского комедийного телешоу 1970-х "Летающий цирк Монти Пайтона".'
pattern = re.compile('[аоэеиыуёюяАОЭЕИЫУЁЮЯ]\s[БВГДЖЗЙКЛМНПРСТФХЦЧШЩбвгджзклмнпрстфхцчшщ]')
len(pattern.findall(text))

f = open('StudentsPerformance.csv')
males = 0
females = 0
bachelor = 0
for line in f:
    info = line.split(',')
    level = info[2][1:-1]
    if 'bachelor' in level:
        bachelor += 1
print('Бакалавров: {}'.format(bachelor))

In [ ]:
import collections
f = open('StudentsPerformance.csv')
level=[]
c = collections.Counter()
for line in f: 
    info = line.split(',')
    level.append(info[2])
    #print(info[2])
for word in level:
    c[word] +=1
print(c)

In [ ]:
f = open('StudentsPerformance.csv')
count = 0
type1 = []
type2 = ''
for line in f:
    info = line.split(',')
    type2 = info[2][1:-1]
    if type2 not in type1:
        type1.append(type2)
print(len(type1)-1)

In [ ]:
f = open('StudentsPerformance.csv')
lunched = 0
hungry = 0
for line in f:
    info = line.split(',')
    if 'standar' in info[3]:
        lunched += 1
    elif 'free' in info[3]:
        hungry += 1
print((lunched/(lunched+hungry)*100))

In [ ]:
f = open('StudentsPerformance.csv')
groupc = 0
for line in f:
    info = line.split(',')
    if 'C' in info[1]:
        groupc += 1
print(groupc)

In [ ]:
f = open('StudentsPerformance.csv')
count = 0
type1 = []
type2 = ''
for line in f:
    info = line.split(',')
    type2 = info[1][1:-1]
    if type2 not in type1:
        type1.append(type2)
print(len(type1)-1)

In [ ]:
math = []

f = open('StudentsPerformance.csv')

for line in f:
    info = line.split(',')
    if info[0] == '"gender"':
        continue
    else:
        mark = int(info[5][1:-1])
        math.append(mark) 
print(math)

In [ ]:
import re
pattern = re.compile('\d+')
exams = []
readscore=[]
summ=0
f = open('StudentsPerformance.csv')
for line in f:
    info = line.split(',')
    if info[0] == '"gender"':
        continue
    else:
        new_line = []
        for item in info:
            if pattern.search(item) != None:
                new_line.append(int(pattern.search(item)[0]))
            else:
                new_line.append(item[1:-1])
        exams.append(new_line)
for i in range(0,len(exams)):
    readscore.append(exams[i][6])
    summ += exams[i][6]
print(summ/len(exams))

In [ ]:
import re
pattern = re.compile('\d+')
exams = []
readscore=[]
summ=0
readscore_umn = 0
f = open('StudentsPerformance.csv')
for line in f:
    info = line.split(',')
    if info[0] == '"gender"':
        continue
    else:
        new_line = []
        for item in info:
            if pattern.search(item) != None:
                new_line.append(int(pattern.search(item)[0]))
            else:
                new_line.append(item[1:-1])
        exams.append(new_line)
for i in range(0,len(exams)):
    readscore.append(exams[i][6])
    summ += exams[i][6]
readscore_avg = summ/len(readscore)
for i in range(0, len(readscore)):
    if readscore[i] < readscore_avg:
        readscore_umn += 1
print(readscore_umn)

In [ ]:
import re
pattern = re.compile('\d+')
exams = []
readscore=[]
read90 = []
f = open('StudentsPerformance.csv')
for line in f:
    info = line.split(',')
    if info[0] == '"gender"':
        continue
    else:
        new_line = []
        for item in info:
            if pattern.search(item) != None:
                new_line.append(int(pattern.search(item)[0]))
            else:
                new_line.append(item[1:-1])
        exams.append(new_line)
for i in range(0,len(exams)):
    if exams[i][7]> 90 and ('stand' in exams[i][3]):
        readscore.append(exams[i][7])
    elif exams[i][7]>90:
        read90.append(exams[i][7])
print(len(readscore)/(len(read90)+len(readscore)))

In [ ]:
students = {}

f = open('StudentsPerformance.csv')

for line in f:
    info = line.split(',')
    if info[0] == '"gender"':
        continue
    else:
        ethnicity = info[1][1:-1]
        if ethnicity in students:
            students[ethnicity] += 1
        else:
            students[ethnicity] = 1
print(students)

In [ ]:
students = {}

f = open('StudentsPerformance.csv')

for line in f:
    print(line)

In [ ]:
students = {}

f = open('StudentsPerformance.csv')

for line in f:
    info = line.split(',')
    if info[0] == '"gender"':
        continue
    else:
        if int(info[-3][1:-1]) > 90:
            gender = info[0][1:-1]
            hunger = info[2][1:-1]
            if gender in students:
                if hunger in students[gender]:
                    students[gender][hunger] +=1
                else:
                    students[gender][hunger] = 1
            else:
                students[gender] = {}
                students[gender][hunger] = 1
print(students)

In [ ]:
students = {}

f = open('StudentsPerformance.csv')
mal = 0
for line in f:
    info = line.split(',')
    if info[0] == '"gender"':
        continue
    else:
        if int(info[-3][1:-1]) > 90 and info[0][1:-1] == "female":
            mal += 1
print(mal)
print(7+2+1+2+7+2)

In [ ]:
import re
pattern = re.compile('\d\d\d')
secret = pattern.findall('2 x 2 = 4') 
print(secret)

math = []

f = open('StudentsPerformance.csv')

for line in f:
    info = line.split(',')
    if info[0] == '"gender"':
        continue
    else:
        if info[0][1:-1] == 'male':
            mark = int(info[-2][1:-1])
            math.append(mark) 
print(sum(math)/len(math))

In [ ]:
math = []

f = open('StudentsPerformance.csv')

for line in f:
    info = line.split(',')
    if info[0] == '"gender"':
        continue
    else:
        if 'free' in info[3]:
            mark = int(info[-1][1:-2])
            math.append(mark) 
print(sum(math)/len(math))
print(info[-1][1:-1])

In [ ]:
def square(x):
    return x**2
square_result = square(20)

print(square_result)

In [ ]:
# Дополните аргументы и код функции
def power(x, y):
    result = x**y
    return result
# Передайте аргументы 42 и 73 в функцию
print(power(2,3))

In [ ]:
def get_median(lst):
    n = len(lst)
    if len(lst)%2 == 1:
        return sorted(lst)[n//2]
    else:
        return sum(sorted(lst)[n//2-1:n//2+1])/2
a= [1,2,3,4,5,6,7]
print(get_median(a), len(a)//2)

In [ ]:
user_db = [{'orders': 12}, {'orders': 30}, {'orders': 45}]

def avg_orders(user_db):
    order_sum = sum([user['orders'] for user in user_db])
    orders_per_user = order_sum/len(user_db)
    return print(orders_per_user)
avg_orders(user_db)

In [ ]:
def get_euro_rate():
    from random import random
    cur_rate = 65 + 20*random()
    return cur_rate
def to_euro(price): 
    exchange_rate = get_euro_rate()
    rounded = round(price/exchange_rate, 2)  
    return '€' + str(rounded)
to_euro(100)

In [ ]:
def polite_name(name):  
    return 'Mr. ' + name   
  
guests = ["Boris", "Ivan", "Bob"]
guest_iterator = map(polite_name, guests)  # здесь мы применили polite_name к каждому имени  
list(guest_iterator)

In [ ]:
func = lambda x, y: x + y  
func(1,3)

In [ ]:
func = lambda x, y, z : 7*x+2*y-3

In [ ]:
values = [1, 2, 3]
vectors = [(10, 3), (4, 5), (6, 7)]
map(lambda x: x+2, [1, 2, 3])

In [ ]:
values = [4, 8, 15, 16, 23, 42]
mean = 18

result = list(map(lambda x: x-mean, values))

In [ ]:
nums = [1, 20, 30, 33, 16, 5]  
  
# оставим числа меньшее 30  
list(filter(lambda x: x < 30, nums))

In [ ]:
values = [4, 8, 15, 16, 23, 42]
mean = 18

result = list(filter(lambda x: x>mean,values))

In [ ]:
std = 42 

def normalize(value):
    result = value/std
    return result 
    
print(normalize(21))

In [ ]:
values = [-7, -7, 7, 7]
std = 42

def count_std():
    mean = sum(values)/len(values)
    std = (sum([(value-mean)**2 for value in values])/len(values))**0.5
    return std

def normalize(value):
    result = value/std
    return result 

print(normalize(21))

In [ ]:
rabbits = 0

def count_rabbits(spotted):
    global rabbits
    rabbits += spotted

    
count_rabbits(3)
count_rabbits(5)
print(rabbits)

In [ ]:
def normalize(numbers, mean = 0, std = 1):
    result = list(map(lambda number: (number-mean)/std, numbers))
    return result
normalize([10,20])

In [ ]:
def sum_args(*args):
    sumargs = 0
    for punkt in args:
        sumargs += punkt
    return sumargs
sum_args(10,15,-4)

In [ ]:
def show_keys(**kwargs):
    print(' '.join(kwargs.keys()))

show_keys(verbose=True, mode='constant')

In [ ]:
sentence = 'Beep boop'
def count_letters(sentence, average = False):
    import re
    bukvi = re.findall(r'\w', sentence)
    result = len(bukvi)
    if average == True:
        wordlen = []
        words = re.findall(r'\w+', sentence)
        for word in words:
            wordlen.append(len(word))
        result = sum(wordlen)/len(wordlen)
    return result

In [ ]:
words = ["sofa", "suitcase", "valise", "picture", "basket", "carton", "doggie"]
list(map(lambda w: sorted(w)[0], words))[5]
for i in list(map(lambda w: sorted(w)[0], words)):
    print(i)

In [ ]:
def always(n):
    return (lambda:n)
five = always(10)
five()

In [ ]:
print( "sosi jopu")

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
display(df.info())

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
display(df.describe())
df.Wage.sum()

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
remax = df[df.Age == df.Age.max()].Reactions.mean() 
remin = df[df.Age == df.Age.min()].Reactions.mean()
print(remax - remin)

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
df[df.Value>df.Value.mean()].Nationality.describe().top

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
rafl = df[(df.Position == 'GK')&(df.GKReflexes == df.GKReflexes.max())].Wage.mean()
hand = df[(df.Position == 'GK')&(df.GKHandling == df.GKHandling.max())].Wage.mean()
print(rafl/hand)

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
maxud = df[(df.Aggression == df.Aggression.max())].ShotPower.mean()
minud = df[(df.Aggression == df.Aggression.min())].ShotPower.mean()
print(maxud/minud)

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
s = df['Position'].value_counts(normalize = True)
s

import pandas as pd
df = pd.read_csv('data_sf.csv')
small_df = df[df.columns[0:7]].head(25)
s = small_df['Wage'].value_counts(bins=4)
s.index

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
s = df['FKAccuracy'].value_counts(bins=5)
s

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
s = df[df.Nationality == "Spain"].Wage.value_counts(normalize = True, bins = 4)
s*100

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
s = df[df.Nationality == 'Argentina'].Age.value_counts(bins=4)
s

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
s = df[(df.Nationality == 'Spain')&(df.Age == 21)]
ss = df[df.Nationality == 'Spain']
print(len(s)/len(ss)*100)

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
dfreq = df.groupby(['Position'])['Wage'].sum().sort_values(ascending = False)
dfreq

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
df.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean().sort_values(['Wage'],ascending=False).head(10)

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
df.groupby(['Position'])[["Wage","Value"]].mean().sort_values(["Value"], ascending = False).head(10)

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
dfreq = df.groupby(["Club"])['Wage'].agg(['mean','median'])
count=0
for i in range (1,len(dfreq)):
    if dfreq.iloc[i][0] == dfreq.iloc[i][1]:
        count+=1
print(count)

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
group = df.groupby(["Club"])['Wage'].agg(['mean','median'])
new_df = (group[group['mean']== group['median']])
new_df.sort_values(['mean'],ascending = False).head()

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
dfreq = df.groupby(['Club'])[['Wage']]
dfreq['Chelsea']

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
s = df[(df.Nationality == 'Argentina')&(df.Age ==30)].Wage.min()
s

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
s = df[(df.Club == 'FC Barcelona')&(df.Nationality == 'Argentina')].Strength.max()
b = df[(df.Club=='FC Barcelona') & (df.Nationality == 'Argentina')].Balance.max()
print(s,b)

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
df2 = df.pivot_table(columns = 'Position', index = 'Club', values = 'Wage', aggfunc = 'max')
df2.loc['Manchester City']['GK']

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

pivot = df.pivot_table(columns = 'Position',
values = 'Name',
index = 'Club',
aggfunc = 'count',
fill_value=0)

#round(pivot.GK.mean(),3)
s = pivot.groupby(['Club'])['CM'].sum()
count = 0
for i in range(1,len(s)):
    if s.iloc[i]==0:
        count+=1
print(count)

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

pivot = df.pivot_table(columns = 'Position',
values = 'Name',
index = 'Club',
aggfunc = 'count',
fill_value=0)
#pivot['CM'].value_counts()
pivot

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

pivot = df.pivot_table(columns = "Nationality",
                      values = 'Wage',
                      index = 'Club',
                      aggfunc = 'sum')
pivot['Russia']['AS Monaco']

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

pivot = df.pivot_table(columns = "Position",
                      values = 'SprintSpeed',
                      index = 'Club',
                      aggfunc = 'mean',
                      margins = True)
s = pivot.iloc[-1].sort_values(ascending = False)
d = pivot.max().sort_values(ascending = False)
d

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

pivot = df.pivot_table(columns = "Position",
                      values = 'SprintSpeed',
                      index = 'Club',
                      aggfunc = 'mean',
                      margins = True)
pivot.groupby(['Club'])['ST'].max().sort_values(ascending = False)

In [ ]:
import pandas as pd
df = pd.read_csv('ratings.csv')
df['rating'].max()

In [ ]:
import pandas as pd
df = pd.read_csv('movies.csv')
df['title']
#df.head()

In [ ]:
import pandas as pd
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

In [2]:
import pandas as pd
ratings = pd.read_csv('ratings_example.txt', sep = '\t')
movies = pd.read_csv('movies_example.txt', sep = '\t')
#ratings.head()
#movies.head()
ratings.merge(movies, how = 'left', on = 'movieId')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144

In [13]:
import pandas as pd
items_dict = {

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 

    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],

    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]

}

purchase_log = {

    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 

    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]

}
items_df = pd.DataFrame(items_dict)
purchase_df = pd.DataFrame(purchase_log)
joined = items_df.merge(purchase_df, how = 'inner', on = 'item_id')
joined.head(10)

   item_id   vendor  stock_count  purchase_id  price
0   417283  Samsung           54          101  13900
1   849734       LG           33          101   5330
2   132223    Apple          122          101  38200
3   573943    Apple           18          112  49990
4    19475       LG          102          121   9890
5  3294095    Apple           43          145  33000
6   382043  Samsung           77          145  67500
7   302948  Samsung          143          145  34500
8   100132       LG           60          221  11400

In [30]:
import pandas as pd
items_dict = {

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 

    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],

    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]

}

purchase_log = {

    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 

    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]

}
items_df = pd.DataFrame(items_dict)
purchase_df = pd.DataFrame(purchase_log)
df = items_df.merge(purchase_df, how = 'inner', on = 'item_id')
df['rest']=df['stock_count']*df['price']
df.append(df['rest'])
s = df[(df.rest == df.rest.max())].item_id
cash = df.rest.sum()
cash

19729490

In [32]:
import os
files = os.listdir('data')
files

['ratings_1.txt',
 'ratings_10.txt',
 'ratings_2.txt',
 'ratings_3.txt',
 'ratings_4.txt',
 'ratings_5.txt',
 'ratings_6.txt',
 'ratings_7.txt',
 'ratings_8.txt',
 'ratings_9.txt']

In [35]:
files = ['setup.py', 'ratings.txt', 'stock_stats.txt', 'movies.txt', 'run.sh', 'game_of_thrones.mov']
data = []
for file in files:
    if 'txt' in file:
        data.append(file)
data

['ratings.txt', 'stock_stats.txt', 'movies.txt']

In [53]:
import os
import pandas as pd
data = pd.DataFrame(columns = ['userId', 'movieId', 'rating', 'timestamp'])
for filename in os.listdir('data'):
    temp = pd.read_csv(os.path.join('data',filename),names = ['userId', 'movieId', 'rating', 'timestamp'])
    data = pd.concat([data,temp])
display(data)

     userId movieId  rating   timestamp
0         1      31     2.5  1260759144
1         1    1029     3.0  1260759179
2         1    1061     3.0  1260759182
3         1    1129     2.0  1260759185
4         1    1172     4.0  1260759205
...     ...     ...     ...         ...
9995    597    2572     3.0   940707828
9996    597    2613     3.0   940707355
9997    597    2657     4.0   940707124
9998    597    2661     4.0   940707609
9999    597    2662     3.0   940707473

[100004 rows x 4 columns]

In [57]:
import pandas as pd
df = pd.read_csv('ratings.csv')
df.rating.value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: rating, dtype: int64

In [62]:
import pandas as pd
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
join = ratings.merge(movies, how = 'outer')
display(join)

,userId,movieId,rating,timestamp,title,genres
0,1.0,1,4.0,9.649827e+08,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5.0,1,4.0,8.474350e+08,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7.0,1,4.5,1.106636e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15.0,1,2.5,1.510578e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17.0,1,4.5,1.305696e+09,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
100849,NaN,30892,NaN,NaN,In the Realms of the Unreal (2004),Animation|Documentary
100850,NaN,32160,NaN,NaN,Twentieth Century (1934),Comedy
100851,NaN,32371,NaN,NaN,Call Northside 777 (1948),Crime|Drama|Film-Noir
100852,NaN,34482,NaN,NaN,"Browning Version, The (1951)",Drama
100853,NaN,85565,NaN,NaN,Chalet Girl (2011),Comedy|Romance

In [75]:
import pandas as pd
movies = pd.read_csv('movies.csv')
movies[movies.movieId==3456]

      movieId                                         title genres
2587     3456  Color of Paradise, The (Rang-e khoda) (1999)  Drama

In [78]:
import pandas as pd
log = pd.read_csv('log.csv', header = None)
log.head()

                                  0                     1   2   3
0  Запись пользователя № - user_919  [2019-01-01 14:06:51 NaN NaN
1  Запись пользователя № - user_973  [2019-01-01 14:51:16 NaN NaN
2  Запись пользователя № - user_903  [2019-01-01 16:31:16 NaN NaN
3  Запись пользователя № - user_954  [2019-01-01 17:17:51 NaN NaN
4  Запись пользователя № - user_954  [2019-01-01 21:31:18 NaN NaN

In [90]:
import pandas as pd
sample = pd.read_csv('sample.csv')
colums = sample.columns

Index(['Name', 'City', 'Age', 'Profession'], dtype='object')

In [120]:
import pandas as pd
sample = pd.read_csv('sample.csv')
sample.columns = list(map(lambda x:x.lower(),list(sample.columns)))
sample.head()

      name         city  age profession
0   Иванов       Москва   25     Клинер
1      NaN    Волгоград   31   Менеджер
2   Иванов       Москва   25     Клинер
3  sidorov  Владивосток   43   Менеджер
4  _______        Курск   50   Водитель

In [124]:
import pandas as pd
sample = pd.read_csv('log.csv', header = None)
sample.columns = ['user_id','time','bet','win']
sample.head()

                            user_id                  time  bet  win
0  Запись пользователя № - user_919  [2019-01-01 14:06:51  NaN  NaN
1  Запись пользователя № - user_973  [2019-01-01 14:51:16  NaN  NaN
2  Запись пользователя № - user_903  [2019-01-01 16:31:16  NaN  NaN
3  Запись пользователя № - user_954  [2019-01-01 17:17:51  NaN  NaN
4  Запись пользователя № - user_954  [2019-01-01 21:31:18  NaN  NaN

In [143]:
import pandas as pd
users = pd.read_csv('users.csv',encoding = 'koi8-r', delimiter = '\t')
users.columns = ['user_id','email','geo']
users.head()

    user_id                email        geo
0  User_943  Accumanst@gmail.com     Ижевск
1  User_908    Advismowr@mail.ru     Ижевск
2  User_962      Anachso@ukr.net  Краснодар
3  User_973     Antecia@inbox.ru      Пермь
4  User_902   Balliaryva@ukr.net        NaN

In [170]:
import pandas as pd
df = pd.read_csv('log.csv',header = None)
df.columns = ['user_id','time','bet','win']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  1000 non-null   object
 1   time     985 non-null    object
 2   bet      485 non-null    float64
 3   win      138 non-null    float64
dtypes: float64(2), object(2)
memory usage: 31.4+ KB

In [180]:
import pandas as pd
sample = pd.read_csv('sample.csv')
sample.head()
sample2 = sample[(sample['Age']<30)&(sample['Profession'] == 'Рабочий') ]
sample2.head()

       Name    City  Age Profession
5  Кузнецов    Сочи   19    Рабочий
6     Сажин  Сургут   29    Рабочий

In [181]:
import pandas as pd
log = pd.read_csv("log.csv",header=None)
log.columns = ['user_id','time', 'bet','win']
log_win = log[log.win>0]
win_count = len(log_win)
win_count

138

In [186]:
log = pd.read_csv("log.csv",header=None)
log.columns = ['user_id','time', 'bet','win']
log2 = log.query('bet <2000 and win>0')
log2.head()

                              user_id                  time    bet     win
151  Запись пользователя № - user_982  [2019-01-16 21:54:22  100.0  4749.0
189  Запись пользователя № - user_964  [2019-01-21 18:34:44  200.0  4667.0
205  Запись пользователя № - user_931   [2019-01-22 5:26:59  300.0  4319.0
232  Запись пользователя № - user_998   [2019-01-25 8:57:20  500.0  5069.0
265  Запись пользователя № - user_998  [2019-01-29 10:37:55  500.0  6294.0

In [193]:
sample = pd.read_csv('sample.csv')
sample3 = sample[sample.City.str.contains('о', na = False)]
sample4 = sample[~sample.City.str.contains('о', na = False)]
sample4.head()

       Name    City  Age Profession
4   _______   Курск   50   Водитель
6     Сажин  Сургут   29    Рабочий
9    Левина     NaN   55    Рабочий
10     Фикс    Рига   42    Рабочий

In [198]:
log = pd.read_csv("log.csv",header=None)
log.columns = ['user_id','time', 'bet','win']
new_log = log[~log.user_id.str.contains('#error', na = False)]
new_log.head()

                            user_id                  time  bet  win
0  Запись пользователя № - user_919  [2019-01-01 14:06:51  NaN  NaN
1  Запись пользователя № - user_973  [2019-01-01 14:51:16  NaN  NaN
2  Запись пользователя № - user_903  [2019-01-01 16:31:16  NaN  NaN
3  Запись пользователя № - user_954  [2019-01-01 17:17:51  NaN  NaN
4  Запись пользователя № - user_954  [2019-01-01 21:31:18  NaN  NaN

In [208]:
sample = pd.read_csv("sample.csv")
newage = sample.Age.apply(lambda x:x+1) 
sample.Age = newage
sample2 = sample

In [213]:
sample = pd.read_csv("sample.csv")
newcity = sample.City.apply(lambda x: str(x).lower())
sample.City = newcity
sample2 = sample
sample2.head()

      Name         City  Age Profession
0   Иванов       москва   25     Клинер
1      NaN    волгоград   31   Менеджер
2   Иванов       москва   25     Клинер
3  sidorov  владивосток   43   Менеджер
4  _______        курск   50   Водитель

In [214]:
def profession_code(s):
    if s == 'Рабочий':
        return 0
    elif s == 'Менеджер':
        return 1
    else:
        return 2

In [224]:
sample = pd.read_csv("sample.csv")
def profession_code(s):
    if s == 'Рабочий':
        return 0
    elif s == 'Менеджер':
        return 1
    else:
        return 2

sample2 = sample.copy()
s = sample2.Profession.apply(profession_code)
sample2.Profession = s
sample2

            Name         City  Age  Profession
0         Иванов       Москва   25           2
1            NaN    Волгоград   31           1
2         Иванов       Москва   25           2
3        sidorov  Владивосток   43           1
4        _______        Курск   50           2
5       Кузнецов         Сочи   19           0
6          Сажин       Сургут   29           0
7   Котлеревский   Йошкар-Ола   32           0
8     Завалишина    Чебоксары   36           1
9         Левина          NaN   55           0
10          Фикс         Рига   42           0

In [227]:
def age_category(age):
    if age < 23:
        return('молодой')
    elif 23<age<35:
        return('средний')
    elif age> 35:
        return('зрелый')

In [232]:
def age_category(age):
    if age < 23:
        return('молодой')
    elif 23<age<35:
        return('средний')
    elif age> 35:
        return('зрелый')
sample = pd.read_csv("sample.csv")
sample['Age_category']=sample.Age.apply(age_category)
sample.head()

      Name         City  Age Profession Age_category
0   Иванов       Москва   25     Клинер      средний
1      NaN    Волгоград   31   Менеджер      средний
2   Иванов       Москва   25     Клинер      средний
3  sidorov  Владивосток   43   Менеджер       зрелый
4  _______        Курск   50   Водитель       зрелый

In [234]:
sample = pd.read_csv("sample.csv")
sample['City'] = sample.City.apply(lambda x: str(x).lower())
sample.head()

      Name         City  Age Profession
0   Иванов       москва   25     Клинер
1      NaN    волгоград   31   Менеджер
2   Иванов       москва   25     Клинер
3  sidorov  владивосток   43   Менеджер
4  _______        курск   50   Водитель

In [252]:
def userdelete(user):
    user = str(user)
    if 'Запись пользователя №' in user:
        user = user.replace('Запись пользователя № - ','')
    else:
        user = ''
    return user
log = pd.read_csv("log.csv",header=None)
log.columns = ['user_id','time', 'bet','win']
log.user_id = log.user_id.apply(userdelete)
log.head()

    user_id                  time  bet  win
0  user_919  [2019-01-01 14:06:51  NaN  NaN
1  user_973  [2019-01-01 14:51:16  NaN  NaN
2  user_903  [2019-01-01 16:31:16  NaN  NaN
3  user_954  [2019-01-01 17:17:51  NaN  NaN
4  user_954  [2019-01-01 21:31:18  NaN  NaN

In [258]:
log = pd.read_csv("log.csv",header=None) 
log.columns = ['user_id','time','bet','win']
t = log.time[0]
t = t.replace('[','')
t

'2019-01-01 14:06:51'

In [271]:
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id','time','bet','win']
log['time'] = log['time'].str.replace('[','')
log.head()

                            user_id                 time  bet  win
0  Запись пользователя № - user_919  2019-01-01 14:06:51  NaN  NaN
1  Запись пользователя № - user_973  2019-01-01 14:51:16  NaN  NaN
2  Запись пользователя № - user_903  2019-01-01 16:31:16  NaN  NaN
3  Запись пользователя № - user_954  2019-01-01 17:17:51  NaN  NaN
4  Запись пользователя № - user_954  2019-01-01 21:31:18  NaN  NaN

In [1]:
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id','time','bet','win']
log = log[log['user_id'] != '#error']
log['user_id'] = log['user_id'].str.replace('Запись пользователя № - ','')
log['time'] = log['time'].str.replace('[','')
log.head()

NameError: name 'pd' is not defined

In [3]:
import numpy as np
my_secret = [x for x in range(1, 301, 7) if x%10 == 7 or x%10 == 1]
np.array([my_secret, [x/2 for x in my_secret], [x-100 for x in my_secret]])

array([[  1. ,  57. ,  71. , 127. , 141. , 197. , 211. , 267. , 281. ],
       [  0.5,  28.5,  35.5,  63.5,  70.5,  98.5, 105.5, 133.5, 140.5],
       [-99. , -43. , -29. ,  27. ,  41. ,  97. , 111. , 167. , 181. ]])

In [11]:
np.ones(5)

array([1., 1., 1., 1., 1.])

In [29]:
np.random.randint(0, 5, 3)

array([2, 2, 0])

In [32]:
np.ones((4, 4), dtype=int)

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

In [34]:
np.full((4, 4), 1)

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

In [39]:
np.ones((2,2,2))

array([[[1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.]]])

In [41]:
np.array([i for i in range(11) if i%2])

array([1, 3, 5, 7, 9])

In [43]:
np.arange(1, 14, 2)

array([ 1,  3,  5,  7,  9, 11, 13])

In [61]:
first_line = [x*y for x in range(2, 100, 6) for y in range (7, 1, -2)]
second_line = [x ** 0.5 for x in range(1000, 1101, 2)]
third_line = [x**2 for x in range(51)]

big_secret = np.array([first_line, second_line, third_line, second_line, first_line])
ans=0
for i in big_secret[:,-1]:
    ans +=i
ans.round(2)
#big_secret

3154.33

In [116]:
first_line = [x*y for x in range(2, 100, 6) for y in range (7, 1, -2)]
second_line = [x ** 0.5 for x in range(1000, 1101, 2)]
third_line = [x**2 for x in range(51)]

big_secret = np.array([first_line, second_line, third_line, second_line, first_line])
a=big_secret[:5,:]
sum(np.diagonal(a)).round(2)

121.37

In [157]:
first_line = [x*y for x in range(2, 100, 6) for y in range (7, 1, -2)]
second_line = [x ** 0.5 for x in range(1000, 1101, 2)]
third_line = [x**2 for x in range(51)]

big_secret = np.array([first_line, second_line, third_line, second_line, first_line])
np.prod(np.diag(big_secret[:,-5:]))

341505315559.2347

In [215]:
first_line = [x*y for x in range(2, 100, 6) for y in range (7, 1, -2)]
second_line = [x ** 0.5 for x in range(1000, 1101, 2)]
third_line = [x**2 for x in range(51)]

big_secret = np.array([first_line, second_line, third_line, second_line, first_line])
slicenecet = big_secret[::2,::2]
slicecet = big_secret[1::2,1::2]
slicenecet[:] = -1
slicecet[:] = 1
sum(np.diagonal(big_secret[:,:5]))

-1.0

In [217]:
first_line = [x*y for x in range(2, 100, 6) for y in range (7, 1, -2)]
second_line = [x ** 0.5 for x in range(1000, 1101, 2)]
third_line = [x**2 for x in range(51)]

big_secret = np.array([first_line, second_line, third_line, second_line, first_line])
slicenecet = big_secret[::2,::2]
slicecet = big_secret[1::2,1::2]
slicenecet[:] = -1
slicecet[:] = 1
np.prod(np.diag(big_secret[:,-5:]))

-1.0

In [222]:
my_array = np.random.randint(0, 10, (3,4))
mask = np.array([1, 0, 1, 0], dtype=bool)
my_array[:, mask]

array([[4, 5],
       [9, 3],
       [2, 2]])

In [234]:
first = [x**(1/2) for x in range(100)]
second = [x**(1/3) for x in range(100, 200)]
third = [x/y for x in range(200,300,2) for y in [3,5]]

great_secret = np.array([first, second, third]).T
np.cos(great_secret[0]).sum().round(2)

0.16

In [240]:
great_secret[great_secret > 50].sum()

5470.0

In [245]:
great_secret.flatten()[150]

7.0710678118654755

In [259]:
first = [x**(1/2) for x in range(100)]
second = [x**(1/3) for x in range(100, 200)]
third = [x/y for x in range(200,300,2) for y in [3,5]]

great_secret = np.array([first, second, third]).T
ans = np.sort(great_secret, axis = 0)
ans[-1,:].sum().round(2)

115.12

In [283]:
students = np.array(([1,135,34,4],
                    [2,160,43,5],
                    [3,163,40,4.3],
                    [4,147,44,5],
                    [5,138,41,4.7],
                    [6,149,54,3.9],
                    [7,136,39,4.2],
                    [8,154,48,4.9],
                    [9,137,35,3.7],
                    [10,165,60,4.6]))
np.mean(students[:,-1])
np.median(students[:,2])
(np.mean(students[:,2])-np.median(students[:,2])).round(1)
np.corrcoef(students[:,1], students[:,2])
np.corrcoef(students[:,1],students[:,3])
np.corrcoef(students[:,2],students[:,3])
np.std(students[:,-1])
np.var(students[:,-2])

60.36

In [290]:
np.array([x/x for x in range(1,10)]*5)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [298]:
np.random.randint(1, 10, (10, 10))

array([[1, 1, 4, 5, 1, 2, 3, 4, 8, 1],
       [7, 3, 8, 1, 5, 8, 5, 6, 3, 7],
       [7, 5, 1, 9, 6, 3, 5, 2, 9, 2],
       [6, 5, 1, 7, 1, 5, 8, 2, 8, 9],
       [8, 7, 6, 5, 9, 2, 4, 2, 8, 2],
       [6, 1, 4, 5, 1, 9, 3, 1, 6, 3],
       [3, 8, 4, 4, 5, 2, 1, 9, 3, 1],
       [3, 2, 5, 3, 6, 5, 9, 8, 7, 2],
       [2, 9, 4, 5, 4, 9, 6, 8, 4, 7],
       [1, 8, 2, 4, 2, 7, 5, 6, 5, 8]])

In [329]:
my_array = np.array([[1,2,3,4,5],
                     [6,7,8,9,10],
                     [11,12,13,14,15],
                     [16,17,18,19,20],
                     [21,22,23,24,25]])
my_array[1:4,1:4]
my_sin = np.sin(my_array)
a = my_sin[1:4,1:4]
a[:]=1
my_sin.sum().round(3)

7.572

In [337]:
ans = my_sin[:,:4].reshape(10,2)
ans[:,0].sum().round(3)

2.406