In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [9]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1348,tt0121164,40000000,117195061,Corpse Bride,Johnny Depp|Helena Bonham Carter|Emily Watson|...,Tim Burton|Mike Johnson,There's been a grave misunderstanding.,"Set in a 19th-century european village, this s...",77,Romance|Fantasy|Animation|Music,Tim Burton Animation Company|Will Vinton Studi...,9/9/2005,7.0,2005
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014
1226,tt1211956,50000000,122915111,Escape Plan,Sylvester Stallone|Arnold Schwarzenegger|Jim C...,Mikael HÃ¥fstrÃ¶m,No one breaks out alone.,Ray Breslin is the world's foremost authority ...,115,Action|Thriller,Summit Entertainment|Atmosphere Entertainment ...,10/9/2013,6.7,2013
831,tt0810922,19000000,6928068,Take Me Home Tonight,Topher Grace|Anna Faris|Dan Fogler|Teresa Palm...,Michael Dowse,Best. Night. Ever.,Recent MIT grad Matt Franklin (Topher Grace) s...,97,Comedy|Drama|Romance,Imagine Entertainment|Rogue Pictures|Relativit...,3/4/2011,6.3,2011
1636,tt0361467,15000000,29331068,Confessions of a Teenage Drama Queen,Lindsay Lohan|Adam Garcia|Glenne Headly|Alison...,Sara Sugarman,She's making a scene over everything.,"When the teenager Mary Elizabeth Steppe, a.k.a...",89,Music|Comedy|Family|Romance,Walt Disney Pictures,2/17/2004,5.1,2004

In [5]:
Fogler|Teresa Palm... Michael Dowse Best. Night. Ever. Recent MIT grad Matt Franklin (Topher Grace) s... 97 Comedy|Drama|Romance Imagine Entertainment|Rogue Pictures|Relativit... 3/4/2011 6.3 2011 

1636
tt0361467 15000000 29331068 Confessions of a Teenage Drama Queen Lindsay Lohan|Adam Garcia|Glenne Headly|Alison 
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [10]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [15]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = data[(data.budget == data.budget.max())].original_title

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object}

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [17]:
answers['2'] = data[(data.runtime == data.runtime.max())].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [18]:
answers['3'] = data[(data.runtime == data.runtime.min())].original_title

# 4. Какова средняя длительность фильмов?

In [30]:
answers['4'] = round(data.runtime.mean())

# 5. Каково медианное значение длительности фильмов?

In [32]:
answers['5'] = round(data.runtime.median())

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object,
 '2': 1157    Gods and Generals
 Name: original_title, dtype: object,
 '3': 768    Winnie the Pooh
 Name: original_title, dtype: object,
 '4': 110,
 '5': 107}

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [38]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data['revenue']-data['budget']
answers['6'] = data[(data.profit == data.profit.max())].original_title

# 7. Какой фильм самый убыточный?

In [40]:
answers['7'] = data[(data.profit == data.profit.min())].original_title

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [44]:
answers['8'] = data[(data.revenue > data.budget)].original_title.count()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [74]:
ans = data[(data.release_year == 2008)].revenue.max()
answers['9'] = data[(data.revenue == ans)].original_title

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object,
 '2': 1157    Gods and Generals
 Name: original_title, dtype: object,
 '3': 768    Winnie the Pooh
 Name: original_title, dtype: object,
 '4': 110,
 '5': 107,
 '6': 239    Avatar
 Name: original_title, dtype: object,
 '7': 1245    The Lone Ranger
 Name: original_title, dtype: object,
 '8': 1478,
 '9': 599    The Dark Knight
 Name: original_title, dtype: object,
 '10': 1290    Man of Tai Chi
 Name: original_title, dtype: object}

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [265]:
ans = data[(data.release_year > 2011)&(data.release_year <2015)].profit.min()
answers['10'] = data[(data.profit == ans)].original_title

# 11. Какого жанра фильмов больше всего?

In [135]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = data['genres'].str.split('|').explode().value_counts().index[0]

ВАРИАНТ 2

In [188]:
data['genres'].str.cat(sep = '|').split("|")
answers['11'] = Counter(data['genres'].str.cat(sep = '|').split("|")).most_common(1)[0][0]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [189]:
dataprof = data[(data.profit > 0)]
answers['12'] = dataprof['genres'].str.split('|').explode().value_counts().index[0]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [686]:
answers['13'] = data.groupby(['director'])['revenue'].sum().sort_values(ascending = False).index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [257]:
data.groupby(['genres'])['director'].value_counts()
dirlist = []
for i in range(0,len(data)):
    if 'Action' in data.genres[i]:
        dirlist.append(data.director[i])
df = pd.Series(dirlist)
answers['14'] = df.str.split('|').explode().value_counts().index[0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [279]:
ans = data[(data.release_year == 2012)]
answers['15'] = ans[ans.revenue == ans.revenue.max()].cast.str.split('|').explode().value_counts().index

Index(['Chris Evans', 'Robert Downey Jr.', 'Mark Ruffalo',
       'Scarlett Johansson', 'Chris Hemsworth'],
      dtype='object')

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [288]:
ans = data[data.budget > data.budget.mean()]
answers['16'] = ans.cast.str.split('|').explode().value_counts().index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [326]:
genres=[]
for i in range(0,len(data)):
    if 'Cage' in data.cast[i]:
        genres.append(data.genres[i])
ans = pd.Series(genres)
answers['17'] = ans.str.split('|').explode().value_counts().index[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [337]:
loss = []
for i in range(0,len(data)):
    if 'Paramount Pictures' in data.production_companies[i]:
        loss.append(data.profit[i])
answers['18'] = data[data.profit == min(loss)].original_title
answers['18']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [342]:
answers['19'] = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [400]:
ans = data[data.production_companies.str.contains('Warner',na=False)]
answers['20'] = ans.groupby(['release_year'])['profit'].sum().sort_values(ascending = False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [465]:
import collections
months=[]
c = collections.Counter()
ans = data.release_date.str.split('/')
for i in range(0,len(ans)):
    months.append(ans[i][0])
for month in months:
    c[month]+=1
answers['21'] = c.most_common()[0][0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [561]:
data['release_date'] = pd.to_datetime(data['release_date'])
ans = data.release_date.dt.month.value_counts().sort_index()
answers['22'] = ans[6]+ans[7]+ans[8]

# 23. Для какого режиссера зима – самое продуктивное время года?

In [671]:
data['release_date'] = pd.to_datetime(data['release_date'])
answers['23'] = data[data['release_date'].dt.month.isin([1,11,12])].director.str.split('|').explode().value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [752]:
#data['titlelen'] = data.original_title.apply(lambda x:len(x))
#data2 = data.copy()
#data2['production_companies'] = data.production_companies.str.split('|')
#data2.groupby(['production_companies'])['titlelen'].sum().sort_values()
def counter(movie_bd, x):
    data_plot = movie_bd[x].str.cat(sep = '|')
    dat = pd.Series(data_plot.split('|'))
    info = dat.value_counts(ascending = False)
    return info

data['title_words_length'] = data.original_title.map(lambda x: len(x.split(' ')))

sum_gen = counter(data, 'production_companies')
for gen in sum_gen.index:
    sum_gen[gen] = data['title_words_length'][data['production_companies'].map(lambda x: True if gen in x else False)].sum()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending = False)
answers['24'] = sum_gen.index[0]
answers['24']

'Warner Bros.'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [762]:
def counter(movie_bd, x):
    data_plot = movie_bd[x].str.cat(sep = '|')
    dat = pd.Series(data_plot.split('|'))
    info = dat.value_counts(ascending = False)
    return info

data['title_words_length'] = data.overview.map(lambda x: len(x.split(' ')))
sum_gen = counter(data, 'production_companies')
for gen in sum_gen.index:
    sum_gen[gen] = data['title_words_length'][data['production_companies'].map(lambda x: True if gen in x else False)].mean()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending = False)
answers['25'] = sum_gen.index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [876]:
#ans = pd.cut(data.vote_average, bins = 100, right= True).sort_values(ascending = False)
ans = data.quantile(0.99, numeric_only = True).vote_average
answers['26'] = data[(data.vote_average > ans)].original_title.value_counts().sort_index()
answers['26']

12 Years a Slave                                 1
Gone Girl                                        1
Guardians of the Galaxy                          1
Inception                                        1
Inside Out                                       1
Interstellar                                     1
Memento                                          1
Room                                             1
The Dark Knight                                  1
The Grand Budapest Hotel                         1
The Imitation Game                               1
The Lord of the Rings: The Return of the King    1
The Pianist                                      1
The Wolf of Wall Street                          1
Name: original_title, dtype: int64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

Вариант 2

# Submission

In [877]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object,
 '2': 1157    Gods and Generals
 Name: original_title, dtype: object,
 '3': 768    Winnie the Pooh
 Name: original_title, dtype: object,
 '4': 110,
 '5': 107,
 '6': 239    Avatar
 Name: original_title, dtype: object,
 '7': 1245    The Lone Ranger
 Name: original_title, dtype: object,
 '8': 1478,
 '9': 599    The Dark Knight
 Name: original_title, dtype: object,
 '10': 1245    The Lone Ranger
 Name: original_title, dtype: object,
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': Index(['Chris Evans', 'Robert Downey Jr.', 'Mark Ruffalo',
        'Scarlett Johansson', 'Chris Hemsworth'],
       dtype='object'),
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 925    K-19: The Widowmaker
 Name: original_title, dtype: object,
 '19': 2015,
 '20': 2014,
 '21': '9',
 '22': 450,
 '24': 'Warner Bros.',
 '25': 'Midnight Picture Show',
 '26': 12 Years a Slave                                 1
 Gone Girl                                        1
 Guardians of the Galaxy                          1
 Inception                                        1
 Inside Out                                       1
 Interstellar                                     1
 Memento                                          1
 Room                                             1
 The Dark Knight                                  1
 The Grand Budapest Hotel                         1
 The Imitation Game                               1
 The Lord of the Rings: The Return of the King    1
 The Pianist                                      1
 The Wolf of Wall Street                          1
 Name: original_title, dtype: int64}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)